shamefully-hoist=true
auto-install-peers=true
strict-peer-dependencies=false
msvs_version=2022
registry=https://mirrors.huaweicloud.com/repository/npm/ 
npm=config 
strict-ssl=false
proxy=null
https-proxy=null